<!DOCTYPE html>
<html>
<head>
<title>Atlanta Hawks</title>
<!--CSS sheet link-->
<link rel="stylesheet" href="static/style.css">

<!--Bootstrap CDN link-->
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<!--Navbar-->
<header>
  <nav class="navbar navbar-expand-lg navbar-light changecolor topsize" style="top: 0px; width: 100%;" id="nav">
    <a class="navbar-brand" href="#" style="color: white; z-index: 99 !important; right: 50%; margin-left: 10%; margin-top: 1%;">Atlanta Hawks</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup" style="z-index: 99;">
      <div class="navbar-nav ml-auto">
        <a class="nav-item nav-link underline" href="/">Home<span class="sr-only"></span></a>
        <a class="nav-item nav-link underline" href="/blog">WikiSearch</a>
        <a class="nav-item nav-link underline" href="/players">SpeachToText</a>
        <a class="nav-item nav-link underline" href="/Upcomingfixtures">GraphCreator</a>
      </div>
    </div>
  </nav>
  <div class="para" style="position: absolute; left: -30px; top: 0px;"></div>
</header>
<!--Navbar end-->
<body>

    <div>
      <section class="cards-wrapper">
        <div class="card-grid-space">
          <a class="card" href="/wikisearch+name=name+darkmode=on" style="--bg-img: url('Wiki.png')">
            <div>
              <h1>WikiSearch</h1>
              <p>Need info quick but don't know where you can find it? Try a quick search through wikipedia with our WikiSearch Functions</p>
              <div class="date">EasyToUse</div>
              <div class="tags">
                <div class="tag">#Learn</div>
                <div class="tag">#Encyclopedia</div>
              </div>
            </div>
          </a>
        </div>
        <div class="card-grid-space">
          <a class="card" href="/textospeach" style="--bg-img: url('speachtotext.jpg')">
            <div>
              <h1>SpeachToText</h1>
              <p>Hands tired from typing essays and emails for work? Try using or speach to text helper.</p>
              <div class="date">EmailWriter</div>
              <div class="tags">
                <div class="tag">#EmailWriter</div>
                <div class="tag">#QuickTyper</div>
              </div>
            </div>
          </a>
        </div>
        <div class="card-grid-space">
          <a class="card" href="/graphcreator" style="--bg-img: url('graphs.jfif')">
            <div>
              <h1>GraphCreator</h1>
              <p>If you ever find it hard to create graphs using pencil and paper, and need to create something proffessional this is for you.</p>
              <div class="date">BusinessBooster</div>
              <div class="tags">
                <div class="tag">#GraphsAreEasy</div>
                <div class="tag">#SimplifyGraphs</div>
              </div>
            </div>
          </a>
        </div>
      </section>
    </div>
    


<!--Jquery and Bootstrap Javascript CDN-->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>

</html>